html {
    background: #ffff;
}

body {
    font-family: Helvetica, sans-serif;
    color: #ffff;
    margin: 10px;
    padding: 40px;
    border-top: 10px solid #242424;
    background-color: #133b2e;
}

h1 {
    text-shadow: 5px 5px black;
}

h2 {
    text-decoration: underline;


}

header {
    background-color: #1e593c;
}

.Intro {
    background-color: #1e593c;
}

.About {
    background-color: #1e593c;
}

.Contact {
    background-color: #1e593c;
}

.Drew {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #242424 ;
    float: right;
}

textarea {
    width: 400px;
}