html {
    background: lightblue;
}

body {
    font-family: Helvetica, sans-serif;
    color: #ffff;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid #242424;
    background-color: antiquewhite;
}

h1 {
    text-shadow: 5px 5px black;
    box-shadow: 2px 2px #ffff;
}

h2 {
    box-shadow: 2px 2px #ffff;
}

header {
    background-color: #133b2e;
}

.Intro {
    background-color: #133b2e;
}

.About {
    background-color: #1e593c;
}

.Contact {
    background-color: #133b2e;
}